@model AlterarSenhaInputModel
@{
    ViewData["Title"] = "Alterar senha";
    ViewData["ActivePage"] = ManageNavPages.AlterarSenha;
}

<h4>@ViewData["Title"]</h4>
@await Html.PartialAsync("_StatusMessage", ViewData["StatusMessage"])
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.SenhaAntiga"></label>
                <input asp-for="@Model.SenhaAntiga" class="form-control" />
                <span asp-validation-for="@Model.SenhaAntiga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NovaSenha"></label>
                <input asp-for="@Model.NovaSenha" class="form-control" />
                <span asp-validation-for="@Model.NovaSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConfirmacaoSenha"></label>
                <input asp-for="@Model.ConfirmacaoSenha" class="form-control" />
                <span asp-validation-for="@Model.ConfirmacaoSenha" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Alterar senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}